<h1>Editing Team Member Achievement</h1>

<%= render 'form', team_member_achievement: @team_member_achievement %>

<%= link_to 'Show', @team_member_achievement %> |
<%= link_to 'Back', team_member_achievements_path %>
